@model eCommercePro.Models.DAL.Category

@{
	ViewBag.Title = "Delete";
	Layout = "~/Views/Shared/_LPanel.cshtml";
}
<div class="container pb-5">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<h4 style="margin-top:130px;">Delete</h4>
				<hr />

				<h5>Kategoriyi silmek istediğinize emin misiniz?</h5>
				<div>

					<hr />
					<dl class="dl-horizontal">
						<dt>
							@Html.DisplayNameFor(model => model.categoryName)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.categoryName)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.code)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.code)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.status)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.status)
						</dd>

					</dl>

					@using (Html.BeginForm())
					{
						@Html.AntiForgeryToken()

						<div class="form-actions no-color">
							<input type="submit" value="Sil" class="btn btn-danger" />
							@Html.ActionLink("Kategori Liste", "Index", null, new { @class = "btn btn-warning" })
						</div>
					}
			        	</div>
					<div class="col-md-3"></div>
				</div>
			</div>
		</div>
</div>